<h1>Listing messages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Published</th>
    <th>Guid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.title %></td>
    <td><%= message.description %></td>
    <td><%= message.published %></td>
    <td><%= message.guid %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
