<%= form_for(@application_assignment) do |f| %>
  <% if @application_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application_assignment.errors.count, "error") %> prohibited this application_assignment from being saved:</h2>

      <ul>
      <% @application_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loginid %><br />
    <%= f.text_field :loginid %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :favorite %><br />
    <%= f.text_field :favorite %>
  </div>
  <div class="field">
    <%= f.label :is_bookmark %><br />
    <%= f.text_field :is_bookmark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
