<div class="container-fluid" id="main-container">
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
      <%= image_tag "ucd_greyscale.png", :style => 'float: left; padding: 25px 0 0 10px;' %>
      <%= image_tag "dss_greyscale.png", :style => 'float: right;  padding: 25px 10px 0 0;' %>
    </div> <!-- span10 -->
    <div class="span1"></div>
  </div> <!-- row-fluid -->

  <div class="row-fluid">
    <div class="span12">
      <div class="jumbotron">
        <h1>Welcome, <%= @current_user.name %></h1>
      </div>
    </div> <!-- span12 -->
  </div> <!-- row-fluid -->

  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
      <ul id="favorites" class="connectedSortable well"><span id="favorites-hint">Drag favorite applications here for quick access</span></ul>
    </div> <!-- span10 -->
    <div class="span1"></div>
  </div> <!-- row-fluid -->
  
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
      <ul id="applications" class="connectedSortable"></ul>
    </div> <!-- span10 -->
    <div class="span1"></div>
  </div> <!-- row-fluid -->
</div> <!-- container-fluid -->

<script type="text/json" id="bootstrap">
{
	"apps"		: <%= @apps.to_json %>,
  "favorites"		: <%= @favorites.to_json %>,
  "person"		: <%= @current_user.to_json %>
}	
</script>

<script type="text/javascript">
  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  DssPortal.favorites = data.favorites;
  DssPortal.apps = data.apps;
  DssPortal.person = data.person;
</script>
