<h1>Listing application_assignments</h1>

<table>
  <tr>
    <th>Loginid</th>
    <th>Position</th>
    <th>Favorite</th>
    <th>Is bookmark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @application_assignments.each do |application_assignment| %>
  <tr>
    <td><%= application_assignment.loginid %></td>
    <td><%= application_assignment.position %></td>
    <td><%= application_assignment.favorite %></td>
    <td><%= application_assignment.is_bookmark %></td>
    <td><%= link_to 'Show', application_assignment %></td>
    <td><%= link_to 'Edit', edit_application_assignment_path(application_assignment) %></td>
    <td><%= link_to 'Destroy', application_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Application assignment', new_application_assignment_path %>
