<h1>Listing applications</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Favorite</th>
    <th>Person</th>
    <th>Category Type</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%= application.position %></td>
    <td><%= application.favorite %></td>
    <td><%= application.person_id %></td>
    <td><%= application.category_type %></td>
    <td><%= application.category_id %></td>
    <td><%= link_to 'Show', application %></td>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Application', new_application_path %>
