<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rm_application_attribute.name %>
</p>

<p>
  <b>Description:</b>
  <%= @rm_application_attribute.description %>
</p>

<p>
  <b>Url:</b>
  <%= @rm_application_attribute.url %>
</p>


<%= link_to 'Edit', edit_rm_application_attribute_path(@rm_application_attribute) %> |
<%= link_to 'Back', rm_application_attributes_path %>
