<%= form_for(@rm_application_assignment) do |f| %>
  <% if @rm_application_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rm_application_assignment.errors.count, "error") %> prohibited this rm_application_assignment from being saved:</h2>

      <ul>
      <% @rm_application_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :application_id %><br />
    <%= f.number_field :application_id %>
  </div>
  <div class="field">
    <%= f.label :loginid %><br />
    <%= f.text_field :loginid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
