<h1>Listing rm_application_assignments</h1>

<table>
  <tr>
    <th>Application</th>
    <th>Loginid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rm_application_assignments.each do |rm_application_assignment| %>
  <tr>
    <td><%= rm_application_assignment.application_id %></td>
    <td><%= rm_application_assignment.loginid %></td>
    <td><%= link_to 'Show', rm_application_assignment %></td>
    <td><%= link_to 'Edit', edit_rm_application_assignment_path(rm_application_assignment) %></td>
    <td><%= link_to 'Destroy', rm_application_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rm application assignment', new_rm_application_assignment_path %>
