<%= form_for(@bookmark_assignment) do |f| %>
  <% if @bookmark_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark_assignment.errors.count, "error") %> prohibited this bookmark_assignment from being saved:</h2>

      <ul>
      <% @bookmark_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bookmark_id %><br />
    <%= f.number_field :bookmark_id %>
  </div>
  <div class="field">
    <%= f.label :loginid %><br />
    <%= f.text_field :loginid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
