<h1>Listing bookmark_assignments</h1>

<table>
  <tr>
    <th>Bookmark</th>
    <th>Loginid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmark_assignments.each do |bookmark_assignment| %>
  <tr>
    <td><%= bookmark_assignment.bookmark_id %></td>
    <td><%= bookmark_assignment.loginid %></td>
    <td><%= link_to 'Show', bookmark_assignment %></td>
    <td><%= link_to 'Edit', edit_bookmark_assignment_path(bookmark_assignment) %></td>
    <td><%= link_to 'Destroy', bookmark_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark assignment', new_bookmark_assignment_path %>
