<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>DSS Portal</title>
    
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Application portal at UC Davis">
    <meta name="author" content="Lloyd Wheeler, Christopher Thielen, UCD DSS IT.">
  </head>
  <body>
    
    <div class="container-fluid" id="main-container">
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
          <a href="http://www.ucdavis.edu/"><%= image_tag "ucd_greyscale.png", :style => 'float: left; padding: 25px 0 0 10px;' %></a>
          <%= image_tag "dss_greyscale.png", :style => 'float: right;  padding: 25px 10px 0 0;' %>
        </div> <!-- span10 -->
        <div class="span1"></div>
      </div> <!-- row-fluid -->

      <div class="row-fluid">
        <div class="span12">
          <div class="jumbotron">
            <% unless @messages.blank? %>  
              <div class="well message-list">
                <h4>DSS IT Messages</h4>
                <% @messages.each do |message| %>
                <hr>
                <a href= "<%= message['guid']%>"><%= message['title'] %></a>
                <% end %>
              </div>
            <% end %>
            <h1>Welcome, <%= @current_user.name %></h1>
          </div>
        </div> <!-- span12 -->
      </div> <!-- row-fluid -->
  
      <%= yield %>

    </div> <!-- container-fluid -->
    
  </body>
</html>
